<extend name="Public/promote_base"/>

<block name="body">
      <div id="query">
        <div id="search" class="mod">
          <h2>游戏绑定平台币记录</h2>
          <form id="data_form" action="{:U('charge/promote_game_list')}" method="post" enctype="multipart/form-data">
            <ol>
              <li class="other clearfix">
                <div class="l">
                   <select name="game_id" id="game_id" style="width:80px;">
                    <option value="0">全部游戏</option>
                    <volist name=":get_game_list()" id ="s">
                    <option value="{$s.id}">{$s.game_name}</option>
                  </volist>
                  </select>
                </div>
                <div class="search_btn">
                  <input type="submit" value="查询">
                </div>
              </li>
            </ol>
          </form>
        </div>
        <div id="total_reg" class="mod">
          <h2>游戏绑定平台币记录</h2>
          <div class="con">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>用户账号</th>
                  <th>用户昵称</th>
                  <th>游戏名称</th>
                  <th>游戏余额</th>
                  
                </tr>
              </thead>
              <tbody>
                <volist name="list_data" id="s">
                <tr>
                  <td>{$s.id}</td>
                  <td>{$s.promote_account}</td>
                  <td>{$s.promote_nickname}</td>
                  <td>{$s.game_name}</td>
                  <td>{$s.bind_balance}</td>
              </volist>
              </tbody>
            </table>
            <div class="import"><span>充值总计：￥{$total_amount}</span>
            <span>数据量：{$count}条数据 
             <a href="{:U('Export/expUser',array('id'=>2))}" >导出数据(excel格式)</a>
            </span>
          </span></div>
          </div>
        </div>
      </div>
                        <div id="pagehtml" class="pagenavi clearfix">{$_page}</div>

    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="__CSS__/p_jquery.datetimepicker.css">
<script type="text/javascript" src="__JS__/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$().ready(function(){
   $('#sdate').datetimepicker({
    lang:'ch',
    format:'Y-m-d',
    formatDate:'Y-m-d',
    timepicker:false
  });
  
  $('#edate').datetimepicker({
    lang:'ch',
    format:'Y-m-d',
    formatDate:'Y-m-d',
    timepicker:false
  });
});
</script>
    
</block>
