<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/yxchildren.css">

<!--游戏详情-->
<div class="detail container clearfix">
    <div class="detail-l">
        <div class="detail-t">
            <a href="javascript:;">当前位置: 游戏中心>风暴部落</a>
        </div>
        <div class="detail-c clearfix">
            <img src="__IMG__/youxi/xiangqing_photo.png" alt="">
            <div class="wenzi">
                <p class="wenzi-t">风暴部落</p>
                <p>游戏类型：角色扮演</p>
                <p>游戏语言：简体中文</p>
                <p>游戏大小：312</p>
                <p>游戏版本：1.01.12</p>
                <p>更新时间：2017-03-05</p>
            </div>
            <a href="javascript:;"><img src="__IMG__/youxi/xiangqing_xiazai.png" alt=""></a>
        </div>
        <div class="detail-b">
            <div class="detail-b-t">
                <p class="one">游戏详情</p>
                <p class="two">《风暴部落》是一款由上海多日网络科技有限公司研发出品、65手游运营的魔兽题材卡牌游戏，主打合击和12v1团战，游戏画质精美，人物呆萌。战斗中可上阵最多12个英雄（或宝宝）题材卡牌游戏，主打合击和12v1团战，游戏画质精美，人物呆萌《风暴部落》是一款由上海多日网络科技有限公司研发出品、65手游运营的魔兽题材卡牌游戏</p>
            </div>
            <div class="detail-b-b" id="box1">
                <div class="hd">
                    <span class="current">游戏图片</span>
                    <span>游戏礼包</span>
                </div>
                <div class="bd">
                    <ul>
                        <li>
                            <!--游戏部分轮播 -->
                            <div id="slider">
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_picture.png" />
                                </div>
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_tupian.png" />
                                </div>
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_picture.png" />
                                </div>
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_tupian.png" />
                                </div>
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_picture.png" />
                                </div>
                                <div class="spic">
                                    <img src="__IMG__/youxi/xiangqing_tupian.png" />
                                </div>
                            </div>
                        </li>
                        <li  class="show" >
                            <div class="lb">
                                <div class="lb-t">
                                    <div class="lb-t-t">
                                        <p class="one">新手礼包-风暴部落</p>
                                        <p class="two">金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、双倍经验*2</p>

                                    </div>
                                </div>
                                <div class="lb-b">
                                    <a href="javascript:;" class="lb-b-l">2017-02-02 10:12 至 2017-03-04 10:11</a>
                                    <a href="javascript:;" class="lb-b-r">领&nbsp;取</a>
                                </div>
                            </div>
                            <div class="lb">
                                <div class="lb-t">
                                    <div class="lb-t-t">
                                        <p class="one">新手礼包-风暴部落</p>
                                        <p class="two">金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、双倍经验*2</p>

                                    </div>
                                </div>
                                <div class="lb-b">
                                    <a href="javascript:;" class="lb-b-l">2017-02-02 10:12 至 2017-03-04 10:11</a>
                                    <a href="javascript:;" class="lb-b-r">领&nbsp;取</a>
                                </div>
                            </div>
                            <div class="lb">
                                <div class="lb-t">
                                    <div class="lb-t-t">
                                        <p class="one">新手礼包-风暴部落</p>
                                        <p class="two">金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、金砖*2、高级金币服*5、绑定元宝*3000、双倍经验*2</p>

                                    </div>
                                </div>
                                <div class="lb-b">
                                    <a href="javascript:;" class="lb-b-l">2017-02-02 10:12 至 2017-03-04 10:11</a>
                                    <a href="javascript:;" class="lb-b-r">领&nbsp;取</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-r">
        <!--游戏排行-->
        <div class=" paihang clearfix">
            <div class="paihang-t">
                <a href="javascript:;"  class="one"><span class="icon-libao"></span>游戏排行</a>
            </div>
            <div class="paihang-b clearfix">
                <ul class="weekly-list clearfix">
                    <li >
                        <div  style="height: 39px" class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:#f19ec2;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">1</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:#f19ec2;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">2</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:#f19ec2;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">3</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:#f19ec2;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">4</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:pink;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">5</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:pink;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">6</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:gray;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">7</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:gray;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">8</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:gray;color: #ffffff;text-indent: 6px;line-height: 20px;margin-right: 20px">9</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                    <li >
                        <div class="app-show-title">
                            <span class="num s-index-org" style="display:inline-block;width: 20px;height: 20px;background-color:gray;color: #ffffff;text-indent: 4px;line-height: 20px;margin-right: 20px">10</span>
                            <a href="javascript:;" style="margin-right:220px;font-size: 14px;color:#323232;">风暴部落</a>
                            <a href="javascript:;" style="font-size: 12px;color: #989898;">回合</a>
                        </div>
                        <div class="app-show-block">
                            <a href="javascript:;" class="pic" style="margin-left: 50px;"><img src="__IMG__/main/remen_picture.png" alt="风暴部落"><span class="mask mask2"></span></a>
                            <a  class="xz" href="javascript:;" data-sname="风暴部落"  style="font-size: 12px; font-family:'微软雅黑';float: left;margin:20px 20px 0  60px;width: 80px;height: 20px;color: #989898;text-align: center;line-height: 20px;border: 1px solid #989898;" onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'" class="event-exe-install s-index-down s-index-icon">下&nbsp;载</a>
                            <a  class="lb" href="javascript:;" data-sname="风暴部落" style="font-size:12px;font-family:'微软雅黑';float: left;width: 80px;height: 20px;color: #989898;border: 1px solid #989898;text-align: center;line-height: 20px;margin-top: 20px;"  onmouseover="this.style.color='#fff';this.style.border='none'" onmouseout="this.style.color='#989898';this.style.border='1px solid #989898'"  class="event-exe-install s-index-down s-index-icon">礼&nbsp;包</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--底部线-->
<div class="xian">

</div>

<!--尾巴部分-->

<script>
    var box1=document.getElementById('box1');
    var spans=box1.getElementsByTagName('span');
    var lis=box1.getElementsByTagName('li');
    for(var i=0;i<spans.length;i++){
        spans[i].index=i;
        spans[i].onmouseover=function(){
            for(var j=0; j<spans.length;j++){
                spans[j].className="";
                lis[j].className="";
            }
            this.className="current";
            lis[this.index].className="show";
        }
    }

</script>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/slider.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').slider({ speed: 500 });
    });
</script>
<script>
    $(function(){
        $(".weekly-list li").bind("mouseenter",weekly_ani).bind("mouseleave",function(){clearTimeout($(this).data("setTime"));});
        function weekly_ani(e){
            var me=$(e.target).closest("li");
            if(me.hasClass("current")) return;
            var orili=me.parent().find(".current");

            $(this).data("setTime",setTimeout(function(){weekly_move(me,orili,120,39)},150));
        }
        function weekly_move(me,orili,h,h2){
            me.addClass("current");
            $(".weekly-list li").unbind("mouseenter",weekly_ani);
            setTimeout(function(){
                var cur_h=me.height();
                if(cur_h < h-2){
                    var cur_orih=orili.height();
                    var dh=Math.round((h-cur_h)/2.5);
                    me.css("height",cur_h+dh);
                    orili.css("height",cur_orih-dh);
                    setTimeout(arguments.callee,25);
                }
                else{
                    me.addClass("current").css("height",h);
                    orili.css("height",h2);
                    $(".weekly-list li").bind("mouseenter",weekly_ani);
                    orili.removeClass("current");
                }
            },25);
        }
        $(".weekly-list").find("li:first").addClass("current").animate({height:120}, 300);
    });


</script>
</body>
</html>
</block>