<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/kfmm.css">
<!--中间部分-->
<div class="kf container clearfix">
    <div class="kf-t">
        <p>当前位置： <a href="{:U('kefu')}">客服中心 </a> > <a href="javascript:;">充值问题</a></p>
    </div>
    <div class="kf-b clearfix">

        <div class="tabItemContainer">
            <li ><span class="icon-mmwt"></span><a href="{:U('Service/kfmm')}">密码问题</a></li>
            <li class="tabItemCurrent"><span class="icon-cz"></span><a href="{:U('Service/kfcz')}">充值问题</a></li>
            <li><span class="icon-zh"></span><a href="{:U('Service/kfzh')}">账户问题</a></li>
            <li><span class="icon-lb"></span><a href="{:U('Service/kflb')}">礼包问题</a></li>
            <li><span class="icon-cj"></span><a href="{:U('Service/kfzj')}">常见问题</a></li>
        </div>

        <div class="tabBodyContainer">
            <div class="content">

                <div class="content-t" id="5">
                    <p class="question">Q: 
                    支付宝/微信充值扣费了，没到帐怎么办？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!充值未能即时到账，可能是因为充值延迟所造成，如果较长时间仍未到帐，建议您到我们玩转平台游戏官网联系QQ客服，提供相关账号信息以及扣费截图进行查询，感谢您对玩转平台游戏平台的支持，祝您游戏愉快!
                    </span></p>
                </div>
                
                <div class="content-t" id="6">
                    <p class="question">Q: 
                    充值后没有给奖励
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!请您确认您充值的时间是否在活动时间内，充值的金额是否符合活动要求。若还有疑问，请拨打我们的客服电话：0755-86659665 进行咨询，或者到我们玩转平台游戏平台官网联系QQ客服：2454410379反馈
                    </span></p>
                </div>

                <div class="content-t" id="7">
                    <p class="question">Q: 
                    点击充值无反应
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!建议您可以先清除游戏数据的缓存，并确保网络良好后再进行充值。如果仍然无法充值，请到我们玩转平台游戏官网重新下载安装游戏，在尝试充值。
                    </span></p>
                </div>

                <div class="content-t" id="8">
                    <p class="question">Q: 
                      充值后缺少道具、金币、钻石、元宝，怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!建议您到我们玩转平台游戏官网客服中心联系QQ客服，提供相关账号信息和充值信息进行查询
                    </span></p>
                </div>

                <div class="content-t" id="9">
                    <p class="question">Q: 
                    如何在游戏中进行充值？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!在游戏的主界面中有“充值”选项(部分在“商城”中)点击进入金额选择界面，选择金额和支付方式后进入付费界面。
                    </span></p>
                </div>

                <div class="content-t" id="10">
                    <p class="question">Q: 
                     Q币能充值游戏吗?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     亲爱的玩家：您好!目前玩转平台游戏不支持Q币充值，请您登录我们的充值中心，选择适合您的充值方式进行充值。感谢您对玩转平台游戏平台的支持，祝您游戏愉快!
                    </span></p>
                </div>

                <div class="content-t" id="11">
                    <p class="question">Q: 
                      手机话费是否可以充值?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!目前玩转平台游戏暂不支持使用手机话费进行充值。
                    </span></p>
                </div>

                <div class="content-t" id="12">
                    <p class="question">Q: 
                    在充值返利活动中，你们平台为什么要在平台官方网站上充值平台币才行，直充不行？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                   您好，因为返利是我们平台币哦，不是游戏的返利呢，所以在游戏内直充是不能参与活动的。
                    </span>
                     <span class="zwt">
                   您好，可以充值未平台币以后使用平台币支付哦。平台币是可以输入金额的。
                    </span>
                    </p>
                </div>

                <div class="content-t" id="13">
                    <p class="question">Q: 
                    我不小心点错了，但没付款，导致消费记录里面显示“支付中”，该怎么办？会扣费吗？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    您好，没有完成支付是不会扣费的。
                    </span></p>
                </div>

                <div class="content-t" id="14">
                    <p class="question">Q: 
                    我想在游戏里面充值，但我不知道怎么充值，具体步骤是什么？
                    </p>
                    <p class="question">Q: 
                    如何取消支付宝快速支付？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    您好!您可以进入浏览器，选择“工具”-“清除记录”，再选择“Cookies”，即可取消。
                    </span></p>
                </div>

                <div class="content-t" id="15">
                    <p class="question">Q: 
                     支付宝充值失败了，钱会扣除吗?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    您好，充值失败一般是不会扣除您的钱的。但如果出现充值失败钱也扣除情况，请马上联系客服，客服会为您核实处理的。客服联系电话：010-85655922， 
                    温馨提示：一般出现充值失败有可能是游戏厂商内部更新问题，小编建议采取人工充值。
                    </span></p>
                </div>

                <div class="content-t" id="16">
                    <p class="question">Q: 
                     扣费成功但没收到游戏币，怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                      亲爱的玩家：您好!如果您支付完成扣款成功，但您的游戏账号里没有收到游戏币，这时可能是由于网络延迟而造成的，请您耐心等待几分钟即可!如果较长时间仍未到帐，可能是系统出现问题，这时候您可以联系【QQ客服】提交给我们的客服进行处理。感谢您对玩转平台游戏平台的支持，祝您游戏愉快!
                     客服电话：0755-86659665 QQ：2454410379
                    </span></p>
                </div>

                <div class="content-t" id="17">
                    <p class="question">Q: 
                    如何选择合适的充值方式?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     如果您拥有支付宝帐号，我们建议您采用支付宝方式支付;
                     如果您开通了网上银行，我们建议您采用支付宝支付；
                     注：可以联系客服，进行人工充值，省心省力态度好。
                    </span></p>
                </div>

                <div class="content-t" id="18">
                    <p class="question">Q: 
                    充值中心提供了哪些充值方式?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     亲爱的玩家：您好!玩转平台游戏为您提供快捷、便利、多样化的充值方式，具体如下：支付宝、人工充值(联系客服)。感谢您对玩转平台游戏平台的支持，祝您游戏愉快!
                    </span></p>
                </div>

            </div>

        </div>
    </div>
</div>


<!--底部-->


</body>

</html>
</block>