<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/kfmm.css">

<!--中间部分-->
<div class="kf container clearfix">
    <div class="kf-t">
        <p>当前位置： <a href="{:U('kefu')}">客服中心 </a> > <a href="javascript:;">礼包问题</a></p>
    </div>
    <div class="kf-b clearfix">

        <div class="tabItemContainer">
            <li><span class="icon-mmwt"></span><a href="{:U('Service/kfmm')}">密码问题</a></li>
            <li><span class="icon-cz"></span><a href="{:U('Service/kfcz')}">充值问题</a></li>
            <li><span class="icon-zh"></span><a href="{:U('Service/kfzh')}">账户问题</a></li>
            <li  class="tabItemCurrent"><span class="icon-lb"></span><a href="{:U('Service/kflb')}">礼包问题</a></li>
            <li><span class="icon-cj"></span><a href="{:U('Service/kfzj')}">常见问题</a></li>
        </div>

        <div class="tabBodyContainer">
            <div class="content">
                <div class="content-t" id="34">
                    <p class="question">Q: 
                     什么时候发放最新的礼包？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     亲爱的玩家：您好！请您保持对玩转平台游戏平台的持续关注，您登录游戏后在界面左边有一个隐藏的悬浮图标，点击账户中的礼包页面，就可以领取对应的礼包，礼包数量有限，请在领取后及时兑换。
                    </span></p>
                </div>
                
                <div class="content-t" id="35">
                    <p class="question">Q: 
                     如何查看是否已领取过同类型礼包？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     亲爱的玩家：您好！获得兑换码后尝试在游戏内兑换，如已领取过同类型礼包，则游戏内系统会有相关提示。
                    </span></p>
                </div>

                <div class="content-t" id="36">
                    <p class="question">Q: 
                     不同渠道获得的礼包，都可以使用吗？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                       亲爱的玩家：您好！如果您是在不同的渠道获得的礼包，那么是无法在在玩转平台平台使用的，建议您在玩转平台平台领取对应礼包并使用
                    </span></p>
                </div>

                <div class="content-t" id="37">
                    <p class="question">Q: 
                    礼包兑换、领取方式
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                       亲爱的玩家：您好！请您在游戏中寻找礼包功能输入兑换码即可完成领取。
                    </span></p>
                </div>

                <div class="content-t" id="38">
                    <p class="question">Q: 
                    进入玩转平台助手发现礼包领取完怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好！平台发现礼包没有会及时添加，你持续关注玩转平台助手或者微信动态即可获得礼包。
                    </span></p>
                </div>

                <div class="content-t" id="39">
                    <p class="question">Q: 
                    平台游戏的新手卡激活码如何领取?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    1、下载玩转平台助手，输入游戏名称即可领取礼包。
                    </span>
                    <span class="zwt">
                    2、关注（玩转平台游戏）微信，回复游戏名称：“###”即可获取礼包回复码。
                    </span></p>
                </div>

                <div class="content-t" id="40">
                    <p class="question">Q: 
                     领取礼包兑换失效/过期等问题，怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好！一种礼包，一个角色只能兑换一次，礼包失效可能是玩家通过其他方式已经获得了该礼包。过期礼包是无法使用的，请您重新领取礼包并及时兑换。
                    </span></p>
                </div>
               
            </div>

        </div>
    </div>
</div>


<!--底部-->


</body>


</html>
</block>