<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/kfmm.css">

<!--中间部分-->
<div class="kf container clearfix">
    <div class="kf-t">
        <p>当前位置： <a href="{:U('kefu')}">客服中心 </a> > <a href="javascript:;">密码问题</a></p>
    </div>
    <div class="kf-b clearfix">
         <div class="tabItemContainer">
                <li  class="tabItemCurrent"><span class="icon-mmwt"></span><a href="{:U('Service/kfmm')}">密码问题</a></li>
                <li><span class="icon-cz"></span><a href="{:U('Service/kfcz')}">充值问题</a></li>
                <li><span class="icon-zh"></span><a href="{:U('Service/kfzh')}">账户问题</a></li>
                <li><span class="icon-lb"></span><a href="{:U('Service/kflb')}">礼包问题</a></li>
                <li><span class="icon-cj"></span><a href="{:U('Service/kfzj')}">常见问题</a></li>
            </div>

            <div class="tabBodyContainer">

           <div class="content">
        <div class="content-t" id="1">
            <p class="question">Q: 我修改密码的时候，为什么接收不到短信验证码？该怎么办？</p>
            <p class="answer"><span class="an">A:</span><span class="zwt">您好：如果无法正常接受验证短信，可以联系客服：010-85655922 或 18301467532 ，QQ:2305194405 或 2152187537 进行人工申诉。</span></p>
        </div>
        <div class="content-t" id="2">
            <p class="question">Q: 我换了手机，但他哪里提示要输入密码，我注册的时候是自动登录进去的？ 该怎么找回密码?</p>
            <p class="answer"><span class="an">A:</span> <span class="zwt">您好，在登录框选择找回密码即可。</span></p>
        </div>
        <div class="content-t" id="4">
            <p class="question">Q: 游戏账号的密码忘记了，怎么办?</p>
            <p class="answer"><span class="an">A:</span>
            <span class="zwt">
            亲爱的玩家：您好!如您的账号有设置绑定信息。
            </span>
            <span class="zwt">
            ①有设置密保手机，可通过手机验证重置密码
            </span>
            <span class="zwt">
            ②有设置密保邮箱，可通过邮箱验证重置密码
            </span>
            <span class="zwt">
            ③需要人工找回联系客服,客服电话：010-85655922 或 18301467532 
            </span>
            </p>
        </div>

    </div>

            </div>
        </div>
    </div>


<!--底部-->

</body>


</html>
</block>