<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/kfmm.css">

<!--中间部分-->
<div class="kf container clearfix">
    <div class="kf-t">
        <p>当前位置： <a href="{:U('kefu')}">客服中心 </a> > <a href="javascript:;">账户问题</a></p>
    </div>
    <div class="kf-b clearfix">


        <div class="tabItemContainer">
            <li ><span class="icon-mmwt"></span><a href="{:U('Service/kfmm')}">密码问题</a></li>
            <li><span class="icon-cz"></span><a href="{:U('Service/kfcz')}">充值问题</a></li>
            <li  class="tabItemCurrent"><span class="icon-zh"></span><a href="{:U('Service/kfzh')}">账户问题</a></li>
            <li><span class="icon-lb"></span><a href="{:U('Service/kflb')}">礼包问题</a></li>
            <li><span class="icon-cj"></span><a href="{:U('Service/kfzj')}">常见问题</a></li>
        </div>

        <div class="tabBodyContainer">
            <div class="content" id="19">

                <div class="content-t">
                    <p class="question">Q: 
                     一个手机号码可以绑定几个账号？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                      亲爱的玩家：您好！目前一个手机号码最多只能绑定一个账号。
                    </span></p>
                </div>

                <div class="content-t" id="20">
                    <p class="question">Q: 
                    在玩转平台注册的账号可以在别的平台登录吗?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!不同平台账号数据是不互通的,所以不能在别的平台上进行登录。
                    </span></p>
                </div>

                <div class="content-t" id="21">
                    <p class="question">Q: 
                   游戏账号忘记了,怎么找回?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     亲爱的玩家：您好!您可以通过以下方式找回:
                     </span>
                     <span class="zwt">
                    ①通过绑定信息找回，绑定了密保手机或者登录邮箱，可以直接通过手机或者邮箱作为账号登录游戏。
                     </span>
                     <span class="zwt">
                    ②通过充值记录，如：支付宝账号，支付宝商户订单号(请使用电脑查询)，充值订单号，银行卡充值订单号等提供给客服查询。
                     </span>
                     <span class="zwt">
                    ③如未绑定手机或邮箱,请将账号其他信息尽量完整提供给客服查询您对应的玩转平台账号。
                     </span>
                     <span class="zwt">
                     联系客服QQ：2454410379,客服电话:0755-86659665。
                    </span>
                    </p>
                </div>

                <div class="content-t"  id="22">
                    <p class="question">Q: 
                    我的账号在另一个手机登录不了？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!可能是因为您两台手机下载的安装包不是同一平台的,建议查询您原手机上的安装包所属平台,再重新下载所属平台的安装包.
                    </span></p>
                </div>

                <div class="content-t"  id="23">
                    <p class="question">Q: 
                    你们平台的帐号可以注销吗？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!目前已注册的账号是不可以注销的哦。
                    </span></p>
                </div>

                <div class="content-t" id="24">
                    <p class="question">Q: 
                    我换了手机号，我想要换绑手机号，该怎么操作？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    您好，请登陆玩转平台官网，右上角登录，登录后再次点击进入个人中心，选择更换绑定手机，输入手机号验证即可。
                    </span></p>
                </div>

                <div class="content-t" id="25">
                    <p class="question">Q: 
                    没有绑定过手机或邮箱,怎么找回密码?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!如您的账号没有绑定手机号或邮箱,请您到我们的官网上联系客服,相关工作人员会在1-3个工作日给您审核,审核结果将以电话的形式通知您,请您留意并耐心等候.您也可以到我们玩转平台游戏官网联系在线QQ客服:2454410379进行找回!
                    </span></p>
                </div>

                <div class="content-t" id="26">
                    <p class="question">Q: 
                    为什么我在你们平台登陆显示“该用户未注册”？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     您好，因为您登陆的账号并未注册哦，您使用的是其他平台的账号所以无法登陆玩转平台的端口。
                    </span></p>
                </div>

                <div class="content-t" id="27">
                    <p class="question">Q: 
                    你们平台支持哪几种作为帐号登录游戏
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好!目前没有开通第三方登陆，建议您使用手机号或自定义号码进行账号注册。
                    </span></p>
                </div>

                <div class="content-t" id="28">
                    <p class="question">Q: 
                    我该怎么注册你们平台的账号
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    亲爱的玩家：您好！在游戏内有一键注册的哦~输入手机号或自定义账号即可注册的。
                    </span></p>
                </div>

                <div class="content-t" id="29">
                    <p class="question">Q: 
                    我该怎么下载你们平台的游戏？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    您好,点击官网进入玩转平台游戏平台，搜索需要的游戏选择下载即可。
                    </span></p>
                </div>

                <div class="content-t" id="30">
                    <p class="question">Q: 
                     游戏账号忘记了,怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     您好，账号找回的方法很多，请您择优选用：
                    </span>
                     <span class="zwt">
                    1.通过绑定信息找回，绑定了密保手机，可以直接通过手机作为账号登录游戏。
                    </span>
                     <span class="zwt">
                    2.通过充值记录，如：支付宝账号，支付宝商户订单号(请使用电脑查询)，充值订单号，银行卡充值订单号等提供给客服查询。
                    </span></p>
                </div>

                <div class="content-t" id="31">
                    <p class="question">Q: 
                    账号在登陆时系统提示“账号被冻结或被锁定”怎么办?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    PS：联系在线客服或者电话客服进行解锁!
                    客服电话：0755-86659665 QQ：2454410379
                    </span></p>
                </div>

                <div class="content-t" id="32">
                    <p class="question">Q: 
                    游戏闪退和无法登录解决方法？
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                    1、服务器问题
                    </span>
                    <span class="zwt">
                    解决方法：服务器出现故障，官方会给出相应补偿。
                    </span>
                    <span class="zwt">
                    2、游戏版本问题
                    </span>
                    <span class="zwt">
                    解决方法：检查游戏是否为最新版本。
                    </span>
                    <span class="zwt">
                    3、内存不足
                    </span>
                    <span class="zwt">
                    解决方法：手机内存不足时，建议退出游戏，先清理手机内存在进入游戏，关闭不必要的后台应用。
                    </span>
                    <span class="zwt">
                    4、手机网络不通畅
                    </span>
                    <span class="zwt">
                    解决方法：最好在网络信号好的地方玩游戏，或者使用wifi网络玩游戏，就不会出现无法连接服务器的情况。
                    </span>
                    <span class="zwt">
                    5、客户端不正常
                    </span>
                    <span class="zwt">
                    解决方法：建议在玩转平台官网下载最新的客户端：点击下载
                    </span>
                    <span class="zwt">
                    6、输入了账号和密码然后点登陆，提示登陆失败。
                    </span>
                    <span class="zwt">
                    解决方法：SDK登陆密码不能有特殊字符的，而且系统时间也得符合。
                    </span>
                    <span class="zwt">
                    7、安装失败
                    </span>
                    <span class="zwt">
                    解决方法：用玩转平台助手下载游戏在安装。
                    </span>
                    <span class="zwt">
                    8、卡登陆界面进不去在解压档案中，然后无限循环登陆的
                    </span>
                    <span class="zwt">
                    解决方法：重新登录下，进去别切出来。
                    </span>
                    </p>
                </div>

                <div class="content-t" id="33">
                    <p class="question">Q: 
                    玩转平台游戏账号问题?
                    </p>
                    <p class="answer"><span class="an">A:</span>
                    <span class="zwt">
                     玩转平台官网下载的游戏账号用手机号码注册成功后是通用的，比如：在玩转平台下载《去吧皮卡丘》注册账号成功后，在《阴阳师》中是可以直接登陆的。
                    </span></p>
                </div>
                
               
               
            </div>

        </div>
    </div>
</div>


<!--底部-->


</body>

</html>
</block>