<!--公共头部-->
<!DOCTYPE html>
<html lang="en">
<head>
     <title>{:C('PC_SET_TITLE')}</title>   
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"  >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/bannercss/slider.css">
    <link rel="icon" href="__IMG__/favicon.ico"/>
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?bc19aa51515f215def6b091f540c83ea";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- 如果是个人中心则显示个人中心的导航 -->
</head>
<body>
<!--头部-->
<div class="top " id="topPart">
    <div class="container">
        <div class="top-l">
            <a href="{:U('Game/youxi')}">游戏中心 ｜</a>
            <a href="{:U('Gift/index')}"> 礼包中心</a>
            <!--<a target="_blank" href="http://www.zhishengwh.com/wap">玩转H5</a>-->
            <!--<a href="{:U('Index/appdown')}">玩转APP</a>-->
        </div>
        <div class="top-r">

            <a href="{:U('Public/login')}" id="entry">登录 &nbsp;|&nbsp;</a>
            <a href="{:U('Public/register')}" id="enroll">注册</a>

            
        </div>
    </div>
</div>
<!--导航-->

<div class="header clearfix" id="navBar">
    <div class="center">
        <h1 class="header-l">
             <a href="{:U('Index/index')}" class="logo"><img src="__IMG__/header/logo.png" alt="玩转平台"></a>
        </h1>
        <div class="header-c">
            <ul class="list">
                <li><span class="menu-1" ></span><a href="{:U('Index/index')}" >首页</a> </li>
                <li><span class="menu-2"></span><a href="{:U('Game/youxi')}">游戏中心</a></li>
                <li><span class="menu-3"></span><a href="{:U('Gift/index')}">礼包中心</a></li>
                <li><span class="menu-7"></span><a href="{:U('Exchange/index')}">兑换中心</a>
                </li>
                <li><span class="menu-4"></span><a href="{:U('Category/zixun')}">资讯中心</a></li>
                <li><span class="menu-5"></span><a href="{:U('Recharge/chongzhi')}">充值中心</a></li>
                <li><span class="menu-6"></span><a href="{:U('Service/kefu')}">客服中心</a></li>

            </ul>
        </div>
        <div class="header-r">
            <input  class="sousuo" type="text" placeholder="请输入关键词" id="com_input" />
            <span class="icon-search" id="com_search"></span></div>
    </div>

</div>
</div>
<if condition="CONTROLLER_NAME eq Member" >
<!--banner 区域-->
<div class="pc_banner">
    <div class="container">
      <!--   <p>当前位置：个人中心</p> -->
    </div>
</div>

<!--个人中心的内容部分-->

<div class="pc_main">
        <div id="pc_main_title_bg">
        <div id="pc_main_title">
            <ul class="container" >
                <li><a href="{:U('Member/personalcenter')}"><img src="__IMG__/personalcenter/baseinfo/jibenxinxi_1.png"/></a></li>
                <li><a href="{:U('Member/pcsafecenter')}"><img src="__IMG__/personalcenter/baseinfo/anquanzhongxin_2.png"/></a></li>
                <li><a href="{:U('Member/pcmessage')}"><img src="__IMG__/personalcenter/baseinfo/xinxizhongxin_2.png"/></a></li>
                <li><a href="{:U('Member/pctrade')}"><img src="__IMG__/personalcenter/baseinfo/jiaoyijilv_1.png"/></a></li>
                <li class="last"><a href="{:U('Member/pcaccountyue')}"><img src="__IMG__/personalcenter/baseinfo/zhanghuyue_1.png"/></a></li>
            </ul>
        </div>
    </div>
    <else />
</if>

    <script>

    var ACTION_STR = '__ACTION__';
    var MODULE = "__MODULE__";
    var letter_number = "{$letter_number}";
    
    var navItem =  ACTION_STR.substring(ACTION_STR.lastIndexOf('/')+1);
    if(navItem == 'yxchildren'){
        navItem ='youxi';
    }
    var pcImgArr=[
            ["__IMG__/personalcenter/baseinfo/jibenxinxi_1.png","__IMG__/personalcenter/baseinfo/jibenxinxi_2.png"],
            ["__IMG__/personalcenter/baseinfo/anquanzhongxin_1.png","__IMG__/personalcenter/baseinfo/anquanzhongxin_2.png"],
            ["__IMG__/personalcenter/baseinfo/xinxizhongxi_1.png","__IMG__/personalcenter/baseinfo/xinxizhongxin_2.png"],
            ["__IMG__/personalcenter/baseinfo/jiaoyijilv_2.png","__IMG__/personalcenter/baseinfo/jiaoyijilv_1.png"],
            ["__IMG__/personalcenter/baseinfo/zhanghuyue_2.png","__IMG__/personalcenter/baseinfo/zhanghuyue_1.png"]
    ];
    pcUrlArr=[
            ["personalcenter"],
            ["pcsafecenter","bindphone","bindemail","noidcard","nobindphone","nobindemail","idcard","bindemailfinish"],
            ["pcmessage","pcmsgunread","pcmsghasread","detail"],
            ["pctrade","pctradexf"],
            ["pcaccountyue"]
    ];   
    for(var i=0;i<pcUrlArr.length;i++){
        $("#pc_main_title").find("li").eq(i).find("img").attr("src",pcImgArr[i][1]);

        if($.inArray(navItem, pcUrlArr[i])!=-1){
            $("#pc_main_title").find("li").eq(i).find("img").attr("src",pcImgArr[i][0]);
        }
    }

</script>

<script src="__JS__/pop.js"></script>
<script src="__JS__/js.js"></script>

<block name="body"></block>

<!--小火箭-->
<div style="display: none;" id="rocket-to-top">
    <div style="opacity:0;display: block;" class="level-2"></div>
    <div class="level-3"></div>
</div>
<!--尾巴部分-->
<div class="footer clearfix"> 
    <div class="banxin">
        <div class="footer-t">
            <p>
                <a href="{:U('Category/zxchildren/id/35')}" target="_blank">关于我们 ｜  </a>
                <a href="{:U('Category/zxchildren/id/36')}" target="_blank">商务合作 ｜  </a>
                <a href="{:U('Category/zxchildren/id/37')}" target="_blank">合作伙伴 ｜  </a>
                <a href="{:U('Service/kefu')}" target="_blank">客服帮助</a>
            </p>
            <p>
                <a href="{:U('Index/regareement')}" target="_blank">注册协议｜ </a>
                <a href="{:U('Public/register')}" target="_blank">防沉迷系统 ｜ </a>
                <a href="{:U('Category/zxchildren/id/38')}" target="_blank">未成年家长监护工程 ｜ </a>
                <a href="{:U('Index/interareement')}" target="_blank">《网络游戏服务格式化协议必备条款》 </a>
            </p>
            <p>
                <a href="javascript:;">
                    深圳致晟文化创新有限公司 版权所有2018 zhishengwh.com
                </a>
            </p>
            <p><a href="javascript:;">网站备案：粤ICP备18083935号-1</a></p>
        </div>

        <!--<div class="footer-b clearfix">
            <a class="one" href="javascript:;"><img src="__IMG__/footer/logobt.png" alt=""></a>
            <a class="two" href="javascript:;"><img src="__IMG__/gzh.jpg" alt=""></a>
            <a class="wenzi" href="javascript:;">玩转平台</a>
        </div>-->
    </div>
</div>

<script>
    $(function(){
        function placeholder(input,text){
            input.value=text;
            input.onfocus=function(){
                if(this.value==text){
                    this.value='';
                }
            };
            input.onblur=function(){
                if(this.value==''){
                    this.value=text;
                }
            };
        };
        var ocom_input=document.getElementById("com_input");
        var $input=$("#com_input");
        var $search=$("#com_search");

        $search.click(function(){
            var txt= $.trim($input.val());
            if(txt == ''){
                window.location.href="{:U('Game/yx_fenlei')}";
            }else{
                // window.location.href="yxfenli.html?keyword="+txt;
                window.location.href="__MODULE__/"+"Game/yx_fenlei/keyword/"+txt;
            }
            /*$.ajax({
             type: 'POST',
             async: true,
             dataType: 'json',
             url: "{:U('search_keyword')}",//提交给后台的地址
             data: {
             keyword:txt
             },
             success: function (data) {

             },
             error: function () {
             alert('服务器故障，稍后再试');


             }
             });*/
        });
        $("#com_input").keydown(function (e) {
            if (e.which == 13) {
                $('#com_search').trigger("click");//触发搜索按钮的点击事件
            }
        });

    })
</script>
<script type="text/javascript">
    
     
    var CON = "{$Think.CONTROLLER_NAME}";
    var navArr=["Index","Game","Gift","Exchange","Category","Recharge","Service"];
    var navImg=[       
        [
            "url(__IMG__/header/navbar.png) no-repeat -124px -16px",
            "url(__IMG__/header/navbar.png) no-repeat -124px -45px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -12px  -17px",
            "url(__IMG__/header/navbar.png) no-repeat -12px -45px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -161px -15px",
            "url(__IMG__/header/navbar.png) no-repeat -161px -43px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -261px  -15px",
            "url(__IMG__/header/navbar.png) no-repeat -261px -45px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -53px  -14px",
            "url(__IMG__/header/navbar.png) no-repeat -53px -45px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -198px -17px",
            "url(__IMG__/header/navbar.png) no-repeat -198px -46px"
        ],
        [
            "url(__IMG__/header/navbar.png) no-repeat -94px  -15px",
            "url(__IMG__/header/navbar.png) no-repeat -94px -45px"
        ]
        
    ];

    for(var i=0;i<navArr.length;i++){
        $(".header-c").find("ul").find("li").css("color","#666");
        $(".header-c").find("li").eq(i).find("span").css("background",navImg[i][0]);

        if(CON == $.trim(navArr[i])){
            $(".header-c").find("li").eq(i).find("a").css("color","#ED6557");
            $(".header-c").find("li").eq(i).find("span").css("background",navImg[i][1]);
        }
    }
    $(".header-c").find("ul").find("li").each(function(){
        var index=$(this).index();
        $(this).hover(function(){
            $(this).find("span").css("background",'url('+navImg[index][1]+')');
          
        },function(){
             if(CON == $.trim(navArr[index])){
            $(".header-c").find("li").eq(index).find("a").css("color","#ED6557");
            $(this).find("span").css("background",'url('+navImg[index][1]+')');
        }else{
            $(this).find("span").css("background",'url('+navImg[index][0]+')');
        }
        })
    });
</script>

<script>
    $(function(){
        $(window).scroll(function () {
    //1 页面滚动时获取卷曲高度
            var h = $(this).scrollTop();
    //获取头部的高度
            var tophead = $("#topPart").height();
            var navHeight = $("#navBar").height();
            if (h > tophead) {
    //让导航部定位
                $("#navBar").addClass("fixed");
            } else {
                $("#navBar").removeClass("fixed");
            }
        })

    });
</script>
