    <div id="pc_main_title_bg">
        <div id="pc_main_title">
            <ul class="container" >
                <li><a href="{:U('Member/personalcenter')}"><img src="__IMG__/personalcenter/baseinfo/jibenxinxi_1.png"/></a></li>
                <li><a href="{:U('Member/pcsafecenter')}"><img src="__IMG__/personalcenter/baseinfo/anquanzhongxin_2.png"/></a></li>
                <li><a href="{:U('Member/pcmessage')}"><img src="__IMG__/personalcenter/baseinfo/xinxizhongxin_2.png"/></a></li>
                <li><a href="{:U('Member/pctrade')}"><img src="__IMG__/personalcenter/baseinfo/jiaoyijilv_1.png"/></a></li>
                <li class="last"><a href="{:U('Member/pcaccountyue')}"><img src="__IMG__/personalcenter/baseinfo/zhanghuyue_1.png"/></a></li>
            </ul>
        </div>
    </div>