<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/personalcenter.css">
    <link rel="stylesheet" href="__CSS__/centerperson.css">
    <style>
        /*个人中心的安全中心*/
        #pc_main_con{
            width:1200px;margin:0 auto;
        }
        #pc_main_con .safeCenter .title{
            font:16px/50px "Arial"; color:#8C97CB;
            border-bottom: 1px solid #8C97CB ; padding-top:30px;
        }
        #pc_main_con .safeCenter .title span{float: left;width:21px;height: 21px;margin:13px 20px 0 20px;background-image: url(__IMG__/personalcenter/pcsprits.png) ; background-repeat:no-repeat ;
        }
        #pc_main_con .safeCenter .content .con_l{
            width:240px;padding-top:40px;float:left;
        }
        #pc_main_con .safeCenter .content .con_l li a{
            display: block;line-height:60px;
            font-size:14px;color:#333;
        }
        #pc_main_con .safeCenter .content .con_l li a span{
            float: left;width:21px;height: 21px;margin:20px 12px 0 73px;
            background-image:  url(__IMG__/personalcenter/pcsprits.png) ; 
            background-repeat:no-repeat ;
        }
        #pc_main_con .safeCenter .content .con_l .current a{
            color:#fff;background:#8C97CB;
        }
        #pc_main_con .safeCenter .content .con_r{
            float:left;min-height: 400px;
            width: 960px;
            padding-top:40px;
        }
        #bind{
            margin-left: 200px;
        }
        #bind p{
          font-size: 16px;
         color: #333;
        }
        #bind span{
            font-size: 16px;
            color: #8C97CB;
            margin-left: 10px;
        }
        #bind .one{
          margin-top: 20px;
        }
        #bind .two{
            margin-top: 54px;
            margin-bottom: 32px;
        }
    </style>



    <div id="pc_main_con">
        <!--个人中心/安全中心-->
        <div class="safeCenter" >
            <div class="title">
                <span style=" background-position: -42px 0;"></span>安全中心
            </div>
            <div class="content clearfix">
                <div class="con_l" id="safeCenter_l">
                     <ul>
                        <li ><a href="{:U('Member/pcsafecenter')}"><span style="background-position: 0 -34px;"></span>密码修改</a></li>

                        <if condition="$user['phone'] eq ''">
                            <li ><a href="{:U('Member/bindphone')}"><span style="background-position: 0 -68px;"></span>绑定手机</a></li>
                        <else />
                        <li ><a href="{:U('Member/nobindphone')}"> <span style="background-position: 0 -68px;"></span>绑定手机</a></li>
                        </if>

                       <if condition="$user['email'] eq ''">
                          <li ><a href="{:U('Member/bindemail')}"><span style="background-position:0 -109px;margin-top: 23px;"></span>绑定邮箱</a></li>
                       <else />
                          <li ><a href="{:U('Member/nobindemail')}"> <span style="background-position:0 -109px;margin-top: 23px;"></span>绑定邮箱</a></li>
                       </if>

                       <if condition="$user['idcard'] eq ''">
                          <li ><a href="{:U('Member/noidcard')}"> <span style="background-position: -42px -141px;"></span>实名认证</a></li>
                       <else />
                          <li class="current"><a href="{:U('Member/idcard')}"><span style="background-position: -42px -141px;"></span>实名认证</a></li>
                       </if>
                    </ul>
                </div>
                <div class="con_r" id="safeCenter_r">
                    <!--实名认证-->

                    <div id="bind">
                        <p class="one">您已完成实名认证</p>
                        <p class="two" style="text-indent: 2em">姓名 : <span>{$user.real_name}</span></p>
                        <p class="three">身份证号 : <span>{$user.idcard}</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
</block>